<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section logo-section">
                <img src="./images/logo.png" alt="Punto Central" class="footer-logo">
                <p class="footer-description">En Punto Central, cada plato celebra el sabor y la tradición. ¡Disfruta momentos especiales en un ambiente cálido y familiar!</p>
            </div>
            <div class="footer-section social-section">
                <h4>Redes Sociales</h4>
                <div class="social-icons">
                    <a href="https://www.facebook.com/share/1Cei3SxVi4/?mibextid=wwXIfr" target="_blank" aria-label="Facebook" class="facebook-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tiktok.com/@punto.central.polleria?lang=es" target="_blank" aria-label="TikTok" class="tiktok-icon"><i class="fab fa-tiktok"></i></a>
                    <a href="https://www.instagram.com/puntocentralpolleria?igsh=anZjemNhaXJtZ2h5" target="_blank" aria-label="Instagram" class="instagram-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-dark-text">© 2026 Punto Central. Todos los derechos reservados.</p>
            <p class="footer-created-by">Sitio web creado por <a href="https://alocode.lat/" target="_blank" class="creator-name">Alonso Leandro</a></p>
        </div>
    </div>
</footer>