<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section logo-section">
                <img src="./images/logo.png" alt="Polleria y Broasteria Meche" class="footer-logo">
                <p class="footer-description">En Pollería y Broastería Meche, cada plato celebra el sabor y la tradición. ¡Disfruta momentos especiales en un ambiente cálido y familiar!</p>
            </div>
            <div class="footer-section social-section">
                <h4>Redes Sociales</h4>
                <div class="social-icons">
                    <!--<a href="https://www.facebook.com/profile.php?id=100054226640983" target="_blank" aria-label="Facebook" class="facebook-icon"><i class="fab fa-facebook-f"></i></a>-->
                    <a href="https://www.tiktok.com/@polleriameche3?lang=es" target="_blank" aria-label="TikTok" class="tiktok-icon"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-dark-text">© 2025 Pollería y Broastería Meche. Todos los derechos reservados.</p>
            <p class="footer-created-by">Sitio web creado por <a href="https://alonsoleandro.me" target="_blank" class="creator-name">Alonso Leandro</a></p>
        </div>
    </div>
</footer>